body {
      margin: 0;
      overflow: hidden;
      background-color: white;
      image-rendering: pixelated;
    }
    canvas { 
      display: block;
      image-rendering: pixelated;
    }